/*Galaxy S9+ and Android*/
@media screen and (min-width: 360px) {
  .rectangle {
    width: 300px;
    height: 90px;
  }

  .rectangle-text {
    font-size: 20px;
    margin-top: 25px;
  }

}

/*iPhone 6,7,8, X*/
@media screen and (min-width: 375px) {
  .rectangle {
    width: 320px;
    height: 90px;
  }

  .rectangle-text {
    font-size: 20px;
    margin-top: 25px;
  }

}

/*iPhone Plus, XS, XS Max */
@media screen and (min-width: 414px) {
  .rectangle {
    width: 380px;
    height: 90px;
  }

  .rectangle-text {
    font-size: 20px;
    margin-top: 25px;
  }

}

/* iPad */
@media screen and (min-width: 768px) {
  .rectangle {
    width: 650px;
    height: 80px;
  }

  .rectangle-text {
    font-size: 24px;
    width: 80%;
  }

}

@media screen and (min-width: 1000px) {
  .rectangle {
    width: 900px;
    height: 80px;
  }

  .rectangle-text {
    font-size: 24px;
    width: 80%;
  }
}


body {
  font-family: Hack, sans-serif;
  text-align: center;
  background: #0f111a;
}

/*Each rectangle is a diffrent thing I've done. It is centered and uses flex to display rectangles inside the rectangle.*/
.rectangle {
  /*height: 70px;*/
  margin: auto;
  display: flex;
  /*width: 600px;*/
  background-color: #8f93a2;
  color: #000000;
}

/* The text of each rectangle */
.rectangle-text {
  width: 80%;
  /*font-size: 24px;*/
  color: #0f111a;
}

/* The frame for the left vector (logo) */
.inner-rectangle-left {
  flex-grow: 1;
  background-color: #c4c4c4;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  pointer-events: auto;
}

/* The frame for the right vector (Stack/Language) */
.inner-rectangle-right {
  flex-grow: 1;
  background-color: #c4c4c4;
  position: relative;
  box-sizing: border-box;
  pointer-events: auto;
}

/* The styling for the vectors, margin makes it loom slightly better */
.inner-rectangle-svg {
  flex-grow: 1;
  overflow: hidden;
  margin-top: 5%;
}

/* Margins for the texts below each rectangle */
.article {
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
}



/*My name/Header*/
.intro {
  color: #8f93a2;
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}

/* Sets the size for each vector */
.iconify {
  height: 64px;
  width: 64px;
  margin: 2px;
}

/* Container for my portfolio/stuff */
.my-stuff {
  margin-top: 40px;
  color: #8f93a2;
}

/* Styling for the text below each rectangle in the portfolio */
.description {
  font-size: 15px;
  text-align: center;
  white-space: normal;
  text-indent: 500px;
}

.adult {
  color: red;
}

/* The box of the bio, centers it, IDK why but using two divs works better. */
.about-container {
  box-sizing: border-box;
  width: 80%;
  margin: 40px auto;
}

/* The text of the bio */
.about {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  margin: 40px auto;
  /*margin-left: 25px;*/
  width: 80%;
  /*background-color: #8f93a2;*/
  color: #8f93a2;
}

/* Styling for the bottom contact links */
.list {
  list-style: none;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  color: #89DDF7;
}

#reddit {
  color: #ec5428;
}


/* Flash animation */
@keyframes flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
}

@-moz-keyframes flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
}

@-o-keyframes flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
}

.flash-item {
  font-size: 24px;
  animation: flash 8s linear 0s infinite;
  color: #8f93a2;
  -webkit-animation: flash 3s linear 0s infinite;
  -moz-animation: flash 3s linear 0s infinite;
  animation-delay: 0s;
  -o-animation: flash 3s linear 0s infinite;
}

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

